.define-class
{

}

#define-id
{

}
.looks {
  width: 100px;
  height: 100px;
  padding: 20px 26px;
  font-size: 34px;
  line-height: 1.33;
  border-radius: 50px;
  border-color: #E6E6E6;
  opacity: 0.8;
  margin: 3px;
  background: #E6E6E6;
}
.rishabhio-pills{
	
	background: #8fc493;
	opacity: 0.9;
	
	
}
h1
{
font-family: 'Poiret One', cursive;
font-weight: 400; 
font-size: 4em;
}
a
{
font-family: 'Poiret One', cursive;
font-weight: 400; 
font-size: 4em;
}
button{
	font-family: 'Poiret One', cursive;
font-weight: 400; 
font-size: 4em;
}

 #slides {
      display:none;
    }
	
